{% load static %}
<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>AGM Trade | LiDARs, radars, cameras, UAV</title>	

		<meta name="keywords" content="Геодезия, картография, топопланы, лазерное сканирование, лазерный сканер, оборудование для изысканий, БВС, лидары" />
		<meta name="description" content="Продажа оборудования для геодезических работ, изысканий, топографии, геодезии, маркшейдерии, полный цикл от установки до выпуска готовой модели">
		<meta name="author" content="AGM LiDARs Solutions and Equipment">

		<!-- Favicon --> 
		<link rel="shortcut icon" href="{% static 'mainapp/images/favicon.ico' %}" type="image/x-icon"> 
        <link rel="icon" href="{% static 'mainapp/images/favicon-animated.ico' %}" type="image/x-icon">
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Fonts  -->
		<link href="{% static 'mainapp/fonts/commissioner.css' %}" rel="stylesheet" type="text/css">
		{% comment %} <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet" type="text/css"> {% endcomment %}

		<!-- Main CSS -->
		<link href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet" type="text/css">
        <!-- Bootstrap CSS -->
		<link href="{% static 'mainapp/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<!-- Skin CSS -->
		<link id="skinCSS" href="{% static 'mainapp/css/skin-auto-services.css' %}" rel="stylesheet" type="text/css">
		<!-- Theme CSS -->
        <link href="{% static 'mainapp/css/theme.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'mainapp/css/theme-elements.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'mainapp/css/theme-blog.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'mainapp/css/theme-shop.css' %}" rel="stylesheet" type="text/css">
		<!-- Theme Custom CSS -->
		<link href="{% static 'mainapp/css/custom.css' %}" rel="stylesheet" type="text/css">
		<!-- Vendor CSS -->
		<link href="{% static 'mainapp/css/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'mainapp/css/vendor/animate/animate.compat.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'mainapp/css/vendor/simple-line-icons/css/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'mainapp/css/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'mainapp/css/vendor/owl.carousel/assets/owl.theme.default.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'mainapp/css/vendor/magnific-popup/magnific-popup.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'mainapp/css/vendor/bootstrap-star-rating/css/star-rating.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'mainapp/css/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Head Libs -->
		<script src="{% static 'mainapp/js/modernizr.min.js' %}"></script>


	</head>
	<body>

		<div class="body">

			<!-- Всплывающая реклама -->
			{% block advertising %}
			{% endblock advertising%}

            <!-- Шапка всех страниц -->
			<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 54, 'stickySetTop': '-54px', 'stickyChangeLogo': false}">
				
                <div class="header-body header-body-bottom-border-fixed box-shadow-none border-top-0">
                    
                    <!-- Верхний бар (почта, часы работы, языки, соцсети) -->
					<div class="header-top header-top-small-minheight header-top-simple-border-bottom">
						<div class="container py-2">
							<div class="header-row justify-content-between">
								<div class="header-column col-auto px-0">
									<div class="header-row">
										<div class="header-nav-top">
											<ul class="nav nav-pills position-relative">
												<li class="nav-item d-none d-sm-block">
													<span class="d-flex align-items-center font-weight-medium ws-nowrap text-3 ps-0">
														{% csrf_token %}
														<a href="mailto:{{company_email}}" class="text-decoration-none text-color-dark text-color-hover-primary">
														<i class="icons icon-envelope font-weight-bold position-relative text-4 top-3 me-1"></i> {{company_email}} </a>
													</span>
												</li>
												<li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
													<span class="d-flex align-items-center font-weight-medium text-color-dark ws-nowrap text-3"><i class="icons icon-clock font-weight-bold position-relative text-3 top-1 me-2"></i> Mon - Sat 9:00am - 6:00pm</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="header-column justify-content-end col-auto px-0 d-none d-md-flex">
									<div class="header-row">
										<nav class="header-nav-top">
											<div class="header-nav-top">
												<a class="text-color-dark text-color-hover-primary font-weight-semibold text-2-5 text-decoration-none px-3" href="#" role="button" id="dropdownLanguage" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													ENG
													<i class="fas fa-angle-down ms-1"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-arrow-centered min-width-0" aria-labelledby="dropdownLanguage">
													<a class="dropdown-item text-1" href="#">ESP</a>
													<a class="dropdown-item text-1" href="#">FRA</a>
													<a class="dropdown-item text-1" href="#">ENG</a>
												</div>
											</div>
											<ul class="header-social-icons social-icons social-icons-clean social-icons-icon-gray social-icons-medium custom-social-icons-divider">
												<li class="social-icons-facebook">
													<a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
												</li>
												<li class="social-icons-twitter">
													<a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
												</li>
												<li class="social-icons-instagram">
													<a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
												</li>
												<li class="social-icons-linkedin">
													<a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
                    <!-- Меню -->
					<div class="header-container container">
						<div class="header-row">
							<div class="header-column w-100">
								<div class="header-row justify-content-between">
									<div class="header-logo z-index-2 col-lg-2 px-0">
										<a href="{% url 'index' %}">
											<img alt="Porto" width="123" height="48" data-sticky-width="82" data-sticky-height="40" data-sticky-top="84" src="{% static 'mainapp/images/logo5.png' %}">
										</a>
									</div>
									<div class="header-nav header-nav-links justify-content-end pe-lg-4 me-lg-3">
										<div class="header-nav-main header-nav-main-arrows header-nav-main-dropdown-no-borders header-nav-main-effect-3 header-nav-main-sub-effect-1">
											<nav class="collapse">
												<ul class="nav nav-pills" id="mainNav">

													<li><a href="{% url 'index' %}" class="nav-link active">Главная</a></li>

													<li><a href="{% url 'aboutus' %}" class="nav-link">О нас</a></li>

													<!-- Бренды -->
													<li class="dropdown dropdown-mega">
														<a class="dropdown-item dropdown-toggle" href="{% url 'brands' %}">
															Бренды
														</a>
														<ul class="dropdown-menu">
															<li>
																<div class="dropdown-mega-content">
																	<div class="row">
																		<div class="col-lg-3">
																			<div class="divider divider-tertiary divider-small">
																				<hr>
																			</div>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">АГМ Системы</a></li>
																			</ul>
																			<div class="divider divider-tertiary divider-small">
																				<hr>
																			</div>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Катер беспилотник</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Робособака</a></li>
																			</ul>
																			<div class="divider divider-tertiary divider-small">
																				<hr>
																			</div>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">JOUAV</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Geoscan</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Supercam</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">DJI</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">aOrion</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<div class="divider divider-tertiary divider-small">
																				<hr>
																			</div>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Velodyne Lidar</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Hesai</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Innovusion</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Blickfeld</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">LeiShen</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">6 Марка лидара</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">7 Марка лидара</a></li>
																			</ul>
																			<div class="divider divider-tertiary divider-small">
																				<hr>
																			</div>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">NVidia</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<div class="divider divider-tertiary divider-small">
																				<hr>
																			</div>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Continental radar</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Bosch radar</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">3 Марка радара</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">4 Марка радара</a></li>						
																			</ul>
																			<div class="divider divider-tertiary divider-small">
																				<hr>
																			</div>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">GNSS Emlid</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">GNSS GeoBox (модель Fora) </a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">GNSS антена 1 марка</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">GNSS антена 2 марка</a></li>						
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<div class="divider divider-tertiary divider-small">
																				<hr>
																			</div>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">PhaseOne</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Sony</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">3 марка камеры для adas</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">4 марка камеры для adas</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">5 марка камеры для adas</a></li>
																			</ul>
																			<div class="divider divider-tertiary divider-small">
																				<hr>
																			</div>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">TerraSolid</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Credo-Dialog</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">NanoCad</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">AgiSoft</a></li>
																				<li><a class="dropdown-item" href="{% url 'brandpage' %}">Photomod</a></li>
																			</ul>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</li>

													<!-- Оборудование -->
													<li class="dropdown dropdown-mega">
														<a class="dropdown-item dropdown-toggle" href="{% url 'brands' %}">
															Var 2
														</a>
														<ul class="dropdown-menu">
															<li>
																<div class="dropdown-mega-content">
																	<div class="row">
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Сканеры</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="">АГМ Системы</a></li>
																			</ul>
																			<span class="dropdown-mega-sub-title">Беспилотники</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="">Катер беспилотник</a></li>
																				<li><a class="dropdown-item" href="">Робособака</a></li>
																			</ul>
																			<span class="dropdown-mega-sub-title">Беспилотники</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="">JOUAV</a></li>
																				<li><a class="dropdown-item" href="">Geoscan</a></li>
																				<li><a class="dropdown-item" href="">Supercam</a></li>
																				<li><a class="dropdown-item" href="">DJI</a></li>
																				<li><a class="dropdown-item" href="">aOrion</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Сенсоры</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="">Velodyne Lidar</a></li>
																				<li><a class="dropdown-item" href="">Hesai</a></li>
																				<li><a class="dropdown-item" href="">Innovusion</a></li>
																				<li><a class="dropdown-item" href="">Blickfeld</a></li>
																				<li><a class="dropdown-item" href="">LeiShen</a></li>
																				<li><a class="dropdown-item" href="">6 Марка лидара</a></li>
																				<li><a class="dropdown-item" href="">7 Марка лидара</a></li>
																			</ul>
																			<span class="dropdown-mega-sub-title">Платы</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="">NVidia</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Радары</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="">Continental radar</a></li>
																				<li><a class="dropdown-item" href="">Bosch radar</a></li>
																				<li><a class="dropdown-item" href="">3 Марка радара</a></li>
																				<li><a class="dropdown-item" href="">4 Марка радара</a></li>						
																			</ul>
																			<span class="dropdown-mega-sub-title">GNSS</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="">GNSS Emlid</a></li>
																				<li><a class="dropdown-item" href="">GNSS GeoBox (модель Fora) </a></li>
																				<li><a class="dropdown-item" href="">GNSS антена 1 марка</a></li>
																				<li><a class="dropdown-item" href="">GNSS антена 2 марка</a></li>						
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Камеры</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="">PhaseOne</a></li>
																				<li><a class="dropdown-item" href="">Sony</a></li>
																				<li><a class="dropdown-item" href="">3 марка камеры для adas</a></li>
																				<li><a class="dropdown-item" href="">4 марка камеры для adas</a></li>
																				<li><a class="dropdown-item" href="">5 марка камеры для adas</a></li>
																			</ul>
																			<span class="dropdown-mega-sub-title">Софт</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="">TerraSolid</a></li>
																				<li><a class="dropdown-item" href="">Credo-Dialog</a></li>
																				<li><a class="dropdown-item" href="">NanoCad</a></li>
																				<li><a class="dropdown-item" href="">AgiSoft</a></li>
																				<li><a class="dropdown-item" href="">Photomod</a></li>
																			</ul>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</li>

													<!-- Оборудование Вариант 2 -->
													<li class="dropdown">
														<a class="dropdown-item dropdown-toggle" href="{% url 'catalog' %}">
															Каталог
														</a>
														<ul class="dropdown-menu">
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">Сканеры</a>
																<ul class="dropdown-menu">

																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Наземные</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-headers-classic.html">Classic</a></li>
																			<li><a class="dropdown-item" href="feature-headers-classic-language-dropdown.html">Classic + Language Dropdown</a></li>
																			<li><a class="dropdown-item" href="feature-headers-classic-big-logo.html">Classic + Big Logo</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Воздушные</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-headers-flat.html">Flat</a></li>
																			<li><a class="dropdown-item" href="feature-headers-flat-top-bar.html">Flat + Top Bar</a></li>
																			<li><a class="dropdown-item" href="feature-headers-flat-top-bar-top-borders.html">Flat + Top Bar + Top Border</a></li>
																			<li><a class="dropdown-item" href="feature-headers-flat-colored-top-bar.html">Flat + Colored Top Bar</a></li>
																			<li><a class="dropdown-item" href="feature-headers-flat-borders.html">Flat + Borders</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Мобильные</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-headers-center.html">Center</a></li>
																			<li><a class="dropdown-item" href="feature-headers-center-double-navs.html">Center + Double Navs</a></li>
																			<li><a class="dropdown-item" href="feature-headers-center-nav-buttons.html">Center + Nav + Buttons</a></li>
																			<li><a class="dropdown-item" href="feature-headers-center-below-slider.html">Center Below Slider</a></li>
																		</ul>
																	</li>
																	<li><a class="dropdown-item" href="feature-headers-overview.html">HNSM</a></li>

																	
																</ul>
															</li>
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">Беспилотники</a>
																<ul class="dropdown-menu">
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Pills</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-navigations-pills.html">Pills</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-pills-arrows.html">Pills + Arrows</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-pills-dark-text.html">Pills Dark Text</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-pills-color-dropdown.html">Pills Color Dropdown</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-pills-square.html">Pills Square</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-pills-rounded.html">Pills Rounded</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Stripes</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-navigations-stripe.html">Stripe</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-stripe-dark-text.html">Stripe Dark Text</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-stripe-color-dropdown.html">Stripe Color Dropdown</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Hover Effects</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-navigations-hover-top-line.html">Top Line</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-hover-top-line-animated.html">Top Line Animated</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-hover-top-line-color-dropdown.html">Top Line Color Dropdown</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-hover-bottom-line.html">Bottom Line</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-hover-bottom-line-animated.html">Bottom Line Animated</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-hover-slide.html">Slide</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-hover-sub-title.html">Sub Title</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-hover-line-under-text.html">Line Under Text</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Vertical</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-navigations-vertical-dropdown.html">Dropdown</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-vertical-expand.html">Expand</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-vertical-columns.html">Columns</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-vertical-slide.html">Slide</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Hamburguer</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-navigations-hamburguer-sidebar.html">Sidebar</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-hamburguer-overlay.html">Overlay</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Dropdown Styles</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-dark.html">Dark</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-light.html">Light</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-colors.html">Colors</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-top-line.html">Top Line</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-square.html">Square</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-arrow.html">Arrow Dropdown</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-arrow-center.html">Arrow Center Dropdown</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-modern-light.html">Modern Light</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-modern-dark.html">Modern Dark</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Dropdown Effects</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-effect-no-effect.html">No Effect</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-effect-opacity.html">Opacity</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-effect-move-to-top.html">Move To Top</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-effect-move-to-bottom.html">Move To Bottom</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-effect-move-to-right.html">Move To Right</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-dropdowns-effect-move-to-left.html">Move To Left</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Font Styles</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-navigations-font-small.html">Small</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-font-medium.html">Medium</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-font-large.html">Large</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-font-alternative.html">Alternative</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Icons</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-navigations-icons.html">Icons</a></li>
																			<li><a class="dropdown-item" href="feature-navigations-icons-float-icons.html">Float Icons</a></li>
																		</ul>
																	</li>
																	<li><a class="dropdown-item" href="feature-navigations-sub-title.html">Sub Title</a></li>
																	<li><a class="dropdown-item" href="feature-navigations-divisors.html">Divisors</a></li>
																	<li><a class="dropdown-item" href="feature-navigations-logo-between.html">Logo Between</a></li>
																	<li><a class="dropdown-item" href="feature-navigations-one-page.html">One Page Nav</a></li>
																	<li><a class="dropdown-item" href="feature-navigations-click-to-open.html">Click To Open</a></li>
																</ul>
															</li>
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">Сенсоры</a>
																<ul class="dropdown-menu">
																	<li><a class="dropdown-item" href="feature-page-headers-overview.html">Overview</a></li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Classic</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-page-headers-classic-small.html">Small</a></li>				
																			<li><a class="dropdown-item" href="feature-page-headers-classic-medium.html">Medium</a></li>				
																			<li><a class="dropdown-item" href="feature-page-headers-classic-large.html">Large</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Modern</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-page-headers-modern-small.html">Small</a></li>				
																			<li><a class="dropdown-item" href="feature-page-headers-modern-medium.html">Medium</a></li>				
																			<li><a class="dropdown-item" href="feature-page-headers-modern-large.html">Large</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Colors</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-page-headers-colors-primary.html">Primary</a></li>				
																			<li><a class="dropdown-item" href="feature-page-headers-colors-secondary.html">Secondary</a></li>				
																			<li><a class="dropdown-item" href="feature-page-headers-colors-tertiary.html">Tertiary</a></li>				
																			<li><a class="dropdown-item" href="feature-page-headers-colors-quaternary.html">Quaternary</a></li>				
																			<li><a class="dropdown-item" href="feature-page-headers-colors-light.html">Light</a></li>				
																			<li><a class="dropdown-item" href="feature-page-headers-colors-dark.html">Dark</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Title Position</a>
																		<ul class="dropdown-menu">
																			<li class="dropdown-submenu">
																				<a class="dropdown-item" href="#">Left</a>
																				<ul class="dropdown-menu">
																					<li><a class="dropdown-item" href="feature-page-headers-title-position-left-small.html">Small</a></li>				
																					<li><a class="dropdown-item" href="feature-page-headers-title-position-left-medium.html">Medium</a></li>				
																					<li><a class="dropdown-item" href="feature-page-headers-title-position-left-large.html">Large</a></li>
																				</ul>
																			</li>
																			<li class="dropdown-submenu">
																				<a class="dropdown-item" href="#">Right</a>
																				<ul class="dropdown-menu">
																					<li><a class="dropdown-item" href="feature-page-headers-title-position-right-small.html">Small</a></li>				
																					<li><a class="dropdown-item" href="feature-page-headers-title-position-right-medium.html">Medium</a></li>				
																					<li><a class="dropdown-item" href="feature-page-headers-title-position-right-large.html">Large</a></li>
																				</ul>
																			</li>
																			<li class="dropdown-submenu">
																				<a class="dropdown-item" href="#">Center</a>
																				<ul class="dropdown-menu">
																					<li><a class="dropdown-item" href="feature-page-headers-title-position-center-small.html">Small</a></li>				
																					<li><a class="dropdown-item" href="feature-page-headers-title-position-center-medium.html">Medium</a></li>				
																					<li><a class="dropdown-item" href="feature-page-headers-title-position-center-large.html">Large</a></li>
																				</ul>
																			</li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Background</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-page-headers-background-fixed.html">Fixed</a></li>		
																			<li><a class="dropdown-item" href="feature-page-headers-background-parallax.html">Parallax</a></li>
																			<li><a class="dropdown-item" href="feature-page-headers-background-video.html">Video</a></li>			
																			<li><a class="dropdown-item" href="feature-page-headers-background-transparent-header.html">Transparent Header</a></li>			
																			<li><a class="dropdown-item" href="feature-page-headers-background-pattern.html">Pattern</a></li>			
																			<li><a class="dropdown-item" href="feature-page-headers-background-overlay.html">Overlay</a></li>			
																			<li><a class="dropdown-item" href="feature-page-headers-background-clean.html">Clean (No Background)</a></li>	
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Extra</a>
																		<ul class="dropdown-menu">
																			<li class="dropdown-submenu">
																				<a class="dropdown-item" href="#">Breadcrumb</a>
																				<ul class="dropdown-menu">
																					<li><a class="dropdown-item" href="feature-page-headers-extra-breadcrumb-outside.html">Outside</a></li>				
																					<li><a class="dropdown-item" href="feature-page-headers-extra-breadcrumb-dark.html">Dark</a></li>			
																				</ul>
																			</li>
																			<li><a class="dropdown-item" href="feature-page-headers-extra-scroll-to-content.html">Scroll to Content</a></li>			
																			<li><a class="dropdown-item" href="feature-page-headers-extra-full-width.html">Full Width</a></li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">Платы</a>
																<ul class="dropdown-menu">
																	<li><a class="dropdown-item" href="feature-footers-overview.html">Overview</a></li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Classic</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-footers-classic.html#footer">Classic</a></li>
																			<li><a class="dropdown-item" href="feature-footers-classic-advanced.html#footer">Advanced</a></li>
																			<li><a class="dropdown-item" href="feature-footers-classic-compact.html#footer">Compact</a></li>
																			<li><a class="dropdown-item" href="feature-footers-classic-simple.html#footer">Simple</a></li>
																			<li><a class="dropdown-item" href="feature-footers-classic-locations.html#footer">Locations</a></li>
																			<li class="dropdown-submenu">
																				<a class="dropdown-item" href="#">Copyright</a>
																				<ul class="dropdown-menu">
																					<li><a class="dropdown-item" href="feature-footers-classic-copyright-light.html#footer">Light</a></li>
																					<li><a class="dropdown-item" href="feature-footers-classic-copyright-dark.html#footer">Dark</a></li>
																					<li><a class="dropdown-item" href="feature-footers-classic-copyright-social-icons.html#footer">Social Icons</a></li>
																				</ul>
																			</li>
																			<li class="dropdown-submenu">
																				<a class="dropdown-item" href="#">Colors</a>
																				<ul class="dropdown-menu">
																					<li><a class="dropdown-item" href="feature-footers-classic-colors-primary.html#footer">Primary</a></li>
																					<li><a class="dropdown-item" href="feature-footers-classic-colors-secondary.html#footer">Secondary</a></li>
																					<li><a class="dropdown-item" href="feature-footers-classic-colors-tertiary.html#footer">Tertiary</a></li>
																					<li><a class="dropdown-item" href="feature-footers-classic-colors-quaternary.html#footer			">Quaternary</a></li>
																					<li><a class="dropdown-item" href="feature-footers-classic-colors-light.html#footer">Light</a></li>
																					<li><a class="dropdown-item" href="feature-footers-classic-colors-light-simple.html#footer">Light Simple</a></li>
																				</ul>
																			</li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Modern</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-footers-modern.html#footer">Modern</a></li>
																			<li><a class="dropdown-item" href="feature-footers-modern-font-style-alternative.html#footer">Font Style Alternative</a></li>
																			<li><a class="dropdown-item" href="feature-footers-modern-clean.html#footer">Clean</a></li>	
																			<li><a class="dropdown-item" href="feature-footers-modern-useful-links.html#footer">Useful Links</a></li>
																			<li class="dropdown-submenu">
																				<a class="dropdown-item" href="#">Background</a>
																				<ul class="dropdown-menu">
																					<li><a class="dropdown-item" href="feature-footers-modern-background-image-simple.html#footer">Image Simple</a></li>
																					<li><a class="dropdown-item" href="feature-footers-modern-background-image-advanced.html#footer">Image Advanced</a></li>
																					<li><a class="dropdown-item" href="feature-footers-modern-background-video-simple.html#footer">Video Simple</a></li>
																				</ul>
																			</li>
																			<li class="dropdown-submenu">
																				<a class="dropdown-item" href="#">Call to Action</a>
																				<ul class="dropdown-menu">
																					<li><a class="dropdown-item" href="feature-footers-modern-call-to-action-button.html#footer">Button</a></li>
																					<li><a class="dropdown-item" href="feature-footers-modern-call-to-action-simple.html#footer">Simple</a></li>
																				</ul>
																			</li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Blog</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-footers-blog-classic.html#footer">Blog Classic</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">eCommerce</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-footers-ecommerce-classic.html#footer">eCommerce Classic</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Contact Form</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-footers-contact-form-classic.html#footer">Classic</a></li>
																			<li><a class="dropdown-item" href="feature-footers-contact-form-above-the-map.html#footer">Above the Map</a></li>
																			<li><a class="dropdown-item" href="feature-footers-contact-form-center.html#footer">Center</a></li>
																			<li><a class="dropdown-item" href="feature-footers-contact-form-columns.html#footer">Columns</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Map</a>
																		<ul class="dropdown-menu">
																			<li><a class="dropdown-item" href="feature-footers-map-hidden.html#footer">Hidden Map</a></li> 
																			<li><a class="dropdown-item" href="feature-footers-map-full-width.html#footer">Full Width</a></li>
																		</ul>
																	</li>
																	<li class="dropdown-submenu">
																		<a class="dropdown-item" href="#">Extra</a>
																		<ul class="dropdown-menu">
																			<li class="dropdown-submenu">
																				<a class="dropdown-item" href="#">Simple</a>
																				<ul class="dropdown-menu">
																					<li><a class="dropdown-item" href="feature-footers-extra-top-social-icons.html#footer">Top Social Icons</a></li>
																					<li><a class="dropdown-item" href="feature-footers-extra-big-icons.html#footer">Big Icons</a></li>
																				</ul>
																			</li>
																			<li><a class="dropdown-item" href="feature-footers-extra-recent-work.html#footer">Recent Work</a></li>
																			<li><a class="dropdown-item" href="feature-footers-extra-reveal.html#footeranchor">Reveal</a></li>
																			<li><a class="dropdown-item" href="feature-footers-extra-instagram.html#footer">Instagram</a></li>
																			<li class="dropdown-submenu">
																				<a class="dropdown-item" href="#">Full Width</a>
																				<ul class="dropdown-menu">
																					<li><a class="dropdown-item" href="feature-footers-extra-full-width-light.html#footer">Simple Light</a></li>
																					<li><a class="dropdown-item" href="feature-footers-extra-full-width-dark.html#footer">Simple Dark</a></li>
																				</ul>
																			</li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">Радары <span class="tip tip-dark">hot</span><em class="not-included">(Not Included)</em></a>
																<ul class="dropdown-menu">
																	<li><a class="dropdown-item" href="feature-admin-forms-basic.html">Forms Basic</a></li>
																	<li><a class="dropdown-item" href="feature-admin-forms-advanced.html">Forms Advanced</a></li>
																	<li><a class="dropdown-item" href="feature-admin-forms-wizard.html">Forms Wizard</a></li>
																	<li><a class="dropdown-item" href="feature-admin-forms-code-editor.html">Code Editor</a></li>
																	<li><a class="dropdown-item" href="feature-admin-tables-advanced.html">Tables Advanced</a></li>
																	<li><a class="dropdown-item" href="feature-admin-tables-responsive.html">Tables Responsive</a></li>
																	<li><a class="dropdown-item" href="feature-admin-tables-editable.html">Tables Editable</a></li>
																	<li><a class="dropdown-item" href="feature-admin-tables-ajax.html">Tables Ajax</a></li>
																	<li><a class="dropdown-item" href="feature-admin-charts.html">Charts</a></li>
																</ul>
															</li>
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">GNSS</a>
																<ul class="dropdown-menu">
																	<li><a class="dropdown-item" href="index-slider-revolution.html">Revolution Slider</a></li>
																	<li><a class="dropdown-item" href="index-slider-owl.html">Owl Slider</a></li>
																</ul>
															</li>
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">Камеры</a>
																<ul class="dropdown-menu">
																	<li><a class="dropdown-item" href="feature-layout-boxed.html">Boxed</a></li>
																	<li><a class="dropdown-item" href="feature-layout-dark.html">Dark</a></li>
																	<li><a class="dropdown-item" href="feature-layout-rtl.html">RTL</a></li>
																</ul>
															</li>
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">Софт</a>
																<ul class="dropdown-menu">
																	<li><a class="dropdown-item" href="feature-cursor-effect.html">Cursor Effect</a></li>
																	<li><a class="dropdown-item" href="feature-grid-system.html">Grid System</a></li>
																	<li><a class="dropdown-item" href="feature-lazy-load.html">Lazy Load</a></li>
																	<li><a class="dropdown-item" href="feature-page-loading.html">Page Loading</a></li>
																	<li><a class="dropdown-item" href="feature-page-transition.html">Page Transition</a></li>
																	<li><a class="dropdown-item" href="feature-side-panel.html">Side Panel</a></li>
																</ul>
															</li>
														</ul>
													</li>

													<li><a href="{% url 'faq' %}" class="nav-link">FAQ</a></li>

													<li><a href="{% url 'contacts' %}" class="nav-link">Контакты</a></li>

												</ul>
											</nav>
										</div>
									</div>
									<ul class="header-extra-info custom-left-border-1 d-none d-xl-block">
										<li class="d-none d-sm-inline-flex ms-0">
											<div class="header-extra-info-icon">
												<i class="icons icon-phone text-3 text-color-dark position-relative top-3"></i>
											</div>
											<div class="header-extra-info-text line-height-2">
												<span class="text-1 font-weight-semibold text-color-default">ПОЗВОНИТЬ</span>
												<strong class="text-4"><a href="tel:+{{company_phone_for_html}}" class="text-color-hover-primary text-decoration-none">{{company_phone}}</a></strong>
											</div>
										</li>
									</ul>
									
									<div class="d-flex col-auto pe-0 ps-0 ps-xl-3">
										<div class="header-nav-features ps-0 ms-1">

											<!-- Поиск -->
											<div class="header-nav-feature header-nav-features-search d-inline-flex position-relative top-3 border border-top-0 border-bottom-0 custom-remove-mobile-border-left px-4 me-2">
												<a href="#" class="header-nav-features-toggle text-decoration-none" data-focus="headerSearch">
													<i class="icons icon-magnifier header-nav-top-icon text-5 font-weight-bold position-relative top-3"></i>
												</a>
												<div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed border-radius-0" id="headerTopSearchDropdown">
													<form role="search" action="page-search-results.html" method="get">
														<div class="simple-search input-group">
															<input class="form-control text-1 rounded" id="headerSearch" name="q" type="search" value="" placeholder="Search...">
															<button class="btn" type="submit">
																<i class="icons icon-magnifier header-nav-top-icon"></i>
															</button>
														</div>
													</form>
												</div>
											</div>



										</div>
									</div>

									<button class="btn header-btn-collapse-nav ms-4" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
										<i class="fas fa-bars"></i>
									</button>

								</div>
							</div>
						</div>
					</div>

				</div>
			</header>

			<!-- Контент других страниц -->
			{% block content %}
			{% endblock content%}

			<!-- Футер всех страниц -->
			<footer id="footer" class="border-0 mt-0">
				<div class="container py-5">
					<div class="row py-3">
						<div class="col-md-4 mb-5 mb-md-0">
							<div class="feature-box flex-column flex-xl-row align-items-center align-items-lg-start text-center text-lg-start">
								<div class="feature-box-icon bg-transparent mb-4 mb-xl-0 p-0">
									<img width="45" src="{% static 'mainapp/images/icon-location.svg' %}" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light position-relative bottom-3'}" />
								</div>
								<div class="feature-box-info line-height-1 ps-2">
									<span class="d-block font-weight-bold text-color-light text-5 mb-2">Приехать</span>
									<p class="text-color-light text-4 line-height-4 font-weight-light mb-0">Красноадр <br> ул. Фрунзе 22/1</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 mb-5 mb-md-0">
							<div class="feature-box flex-column flex-xl-row align-items-center align-items-lg-start text-center text-lg-start">
								<div class="feature-box-icon bg-transparent mb-4 mb-xl-0 p-0">
									<i class="icons icon-phone text-9 text-color-light position-relative top-4"></i>
								</div>
								<div class="feature-box-info line-height-1 ps-2">
									<span class="d-block font-weight-bold text-color-light text-5 pb-1 mb-1">Позвонить</span>
									<a href="tel:+{{company_phone_for_html}}" class="text-color-light text-4 line-height-7 text-decoration-none">{{company_phone}}</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-box flex-column flex-xl-row align-items-center align-items-lg-start text-center text-lg-start">
								<div class="feature-box-icon bg-transparent mb-4 mb-xl-0 p-0">
									<img width="45" src="{% static 'mainapp/images/icon-email.svg' %}" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light position-relative bottom-3'}" />
								</div>
								<div class="feature-box-info line-height-1 ps-xl-3">
									<span class="d-block font-weight-bold text-color-light text-5 pb-1 mb-1">Написать</span>
									<a href="mailto:mail@example.com" class="text-color-light text-4 line-height-7 text-decoration-none">{{company_email}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr class="bg-light opacity-2 my-0">
				<div class="container pb-5">
					<div class="row text-center text-md-start py-4 my-5">
						<div class="col-md-6 col-lg-3 align-self-center text-center text-md-start text-lg-center mb-5 mb-lg-0">
							<a href="demo-auto-services.html" class="text-decoration-none">
								<img src="{% static 'mainapp/images/logo-light.png' %}" class="img-fluid" alt="alt" />
							</a>
						</div>
						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
							<h5 class="text-transform-none font-weight-bold text-color-light text-4-5 mb-4">О нас</h5>
							<ul class="list list-unstyled">
								<li class="pb-1 mb-2">
									<span class="d-block font-weight-semibold line-height-1 text-color-grey text-3-5">АДРЕСС</span> 
									<a href="demo-auto-services-contact.html#get-direction" class="text-color-light custom-text-underline-1 font-weight-medium text-3-5">Краснодар, ул. Фрунзе 22/1</a>
								</li>
								<li class="pb-1 mb-2">
									<span class="d-block font-weight-semibold line-height-1 text-color-grey text-3-5 mb-1">ТЕЛЕФОН</span>
									<ul class="list list-unstyled font-weight-light text-3-5 mb-0">
										<li class="text-color-light line-height-3 mb-0">
											Отдел продаж: <a href="tel:+{{company_phone_for_html}}" class="text-decoration-none text-color-light text-color-hover-default">{{company_phone}}</a>
										</li>
									</ul>
								</li>
								<li class="pb-1 mb-2">
									<span class="d-block font-weight-semibold line-height-1 text-color-grey text-3-5">EMAIL</span>
									<a href="mailto:mail@example.com" class="text-decoration-none font-weight-light text-3-5 text-color-light text-color-hover-default">{{company_email}}</a>
								</li>
							</ul>
							<ul class="social-icons social-icons-medium">
								<li class="social-icons-instagram">
									<a href="http://www.instagram.com/" class="no-footer-css" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="social-icons-twitter mx-2">
									<a href="http://www.twitter.com/" class="no-footer-css" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
								</li>
								<li class="social-icons-facebook">
									<a href="http://www.facebook.com/" class="no-footer-css" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
								</li>
							</ul>
						</div>
						<div class="col-md-6 col-lg-2 mb-5 mb-md-0">
							<h5 class="text-transform-none font-weight-bold text-color-light text-4-5 mb-4">Купить лидар</h5>
							<ul class="list list-unstyled mb-0">
								<li class="mb-0"><a href="demo-auto-services-services-detail.html">Velodyne</a></li>
								<li class="mb-0"><a href="demo-auto-services-services-detail.html">PhaseOne</a></li>
								<li class="mb-0"><a href="demo-auto-services-services-detail.html">AGM</a></li>
								<li class="mb-0"><a href="demo-auto-services-services-detail.html">Yellow Scan</a></li>
								<li class="mb-0"><a href="demo-auto-services-services-detail.html">Leica</a></li>
								<li class="mb-0"><a href="demo-auto-services-services-detail.html">Livox</a></li>
							</ul>
						</div>
						<div class="col-md-6 col-lg-3 offset-lg-1">
							<h5 class="text-transform-none font-weight-bold text-color-light text-4-5 mb-4">Часы работы</h5>
							<ul class="list list-unstyled list-inline custom-list-style-1 mb-0">
								<li>Пн - Пт: 8:30 до 17:00 </li>
								<li>Сб: 9:30 до 13:00 </li>
								<li>Вс: закрыто</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright bg-light py-4">
					<div class="container py-2">
						<div class="row">
							<div class="col">
								<p class="text-center text-3 mb-0">АГМ Трейд © 2021. Все права защищены.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>

		</div>

		<!-- Vendor -->
		<script src="{% static 'mainapp/js/vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/jquery.appear/jquery.appear.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/jquery.cookie/jquery.cookie.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/jquery.validation/jquery.validate.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/jquery.gmap/jquery.gmap.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/lazysizes/lazysizes.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/isotope/jquery.isotope.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/vide/jquery.vide.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/vivus/vivus.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/bootstrap-star-rating/js/star-rating.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.js' %}"></script>
		<script src="{% static 'mainapp/js/vendor/elevatezoom/jquery.elevatezoom.min.js' %}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'mainapp/js/theme.js' %}"></script>

		<!-- Current Page Vendor and Views -->
		<script src="{% static 'mainapp/js/views/view.contact.js' %}"></script>
		<script src="{% static 'mainapp/js/views/view.shop.js' %}"></script>

		<!-- Demo -->
		<script src="{% static 'mainapp/js/demos/demo-auto-services.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'mainapp/js/custom.js' %}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'mainapp/js/theme.init.js' %}"></script>

		<!-- Examples -->
		<script src="{% static 'mainapp/js/examples/examples.gallery.js' %}"></script>

	</body>
</html>
