{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}

<div role="main" class="main">

    <!-- Баннер страницы -->
    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-dark font-weight-bold text-8">Бренды</h1>
                    <span class="sub-title text-dark">Лучшее из мира ВЛС</span>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb d-block text-center">
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li class="active">Бренды</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Бренды -->
    <section>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <div class="blog-posts blog-posts-no-margins">
                        <div class="row">

                            {% for each in brands %}
                                <div class="col-md-3 px-0">
                                    <article class="post post-medium">
                                        <div class="post-image">
                                            <a href="{% url 'brandpage' each.url_dop %}">
                                                <span class="thumb-info thumb-info-no-borders thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-dark-linear thumb-info-centered-icons">
                                                    <span class="thumb-info-wrapper">
                                                        <!-- #TODO не работает media -->
                                                        <img src="{{each.img_logo.url}}" class="img-fluid" alt="">
                                                        <span class="thumb-info-title">
                                                            <span class="thumb-info-inner">{{each.name}}</span>
                                                        </span>
                                                        <span class="thumb-info-action">
                                                            <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-link text-dark"></i></span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div> 

{% endblock content %}