{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}


<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-color-secondary font-weight-bold text-8">Оборудование</h1>
                    <span class="sub-title text-dark">Работает так, как нужно</span>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb d-block text-center">
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li class="active">Оборудование</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-4">

        <div class="row">
            
            <div class="col-lg-3 order-lg-2">
                <aside class="sidebar">
                    <form action="#" method="get">
                        <div class="input-group mb-3 pb-1">
                            <input class="form-control text-1" placeholder="Search..." name="s" id="s" type="text">
                            <button type="submit" class="btn btn-dark text-1 p-2"><i class="fas fa-search m-2"></i></button>
                        </div>
                    </form>
                    <h5 class="font-weight-semi-bold pt-4 mb-2">Бренды</h5>
                    <div class="mb-3 pb-1">
                        {% for each in brands %}
                            <a class="pointer"><span class="badge badge-dark badge-sm rounded-pill text-uppercase px-2 py-1 me-1 js-badge" brand_html='{{each.html_class_name}}' >{{each.name}}</span></a>
                        {% endfor %}
                    </div>
                    <h5 class="font-weight-semi-bold pt-4">Категории</h5>
                    <ul class="nav nav-list flex-column mb-5">
                        {% for each in categories %}
                            <li class="nav-item"><a class="nav-link pointer active js-category" category_html='{{each.html_class_name}}'>{{each.name}}</a></li>
                        {% endfor %}
                    </ul>

                    <h5 class="font-weight-semi-bold pt-4">About Us</h5>
                    <p>Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Nulla nunc dui, tristique in semper vel. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. </p>
                </aside>
            </div>

            <!-- Сетка оборудования  -->
            <div class="col-lg-9 order-lg-1">
                <div class="blog-posts">
                    <div class="row px-3" id="products-section">

                        {% for product in products %}
                            <div class="col-sm-4">
                                <article class="post post-medium border-0 pb-0 mb-5">

                                    <div class="post-image">
                                        <a href="{% url 'product' product.url_dop %}">
                                            <img src="media/{{product.img_product}}" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                        </a>
                                    </div>

                                    <div class="post-content">
                                        <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="{% url 'product' product.url_dop %}">{{product.name}}</a></h2>

                                        <p>{{product.description_short}}</p>

                                        <div class="post-meta">
                                            <span><i class="far fa-user"></i> by <a href="{% url 'brandpage' product.manufacturer_url %}">{{product.manufacturer_name}}</a> </span>
                                            <span class="d-block mt-2"><a href="{% url 'product' product.url_dop %}" class="btn btn-xs btn-light text-1 text-uppercase">Подробнее</a></span>
                                        </div>

                                    </div>

                                </article>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>



        </div>
    </div>





</div>

{% endblock content %}