{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}


<div role="main" class="main">
    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-dark font-weight-bold text-8">Контакты</h1>
                    <span class="sub-title text-dark">Стираем границы, работаем по всему миру</span>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb d-block text-center">
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li class="active">Контакты</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Битрикс форма -->
    <!-- <section>
        <div class="row py-4">
            <div class="col-lg-6">

                <script data-b24-form="inline/3/1shw1n" data-skip-moving="true">
                    (function(w,d,u){
                        var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                    })(window,document,'https://agm-crm.ru/upload/crm/form/loader_3_1shw1n.js');
                </script>

            </div>
        </div>
    </section> -->


    <div role="main" class="main">

        <div class="container">

            <div class="row py-4">
                <div class="col-lg-6">

                    <h2 class="font-weight-bold text-8 mt-2 mb-0">Свяжитесь с нами</h2>
                    <p class="mb-4">Отвечаем в кротчайшие сроки. Если сомневаетесь - не сомневайтесь.</p>


                    <form action="" class="move-left">
                        <script data-b24-form="inline/3/1shw1n" data-skip-moving="true">
                            (function(w,d,u){
                                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                            })(window,document,'https://agm-crm.ru/upload/crm/form/loader_3_1shw1n.js');
                        </script>

                    </form>
                    


                </div>
                <div class="col-lg-6">

                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="80">
                        <h4 class="mt-2 mb-1">Наш <strong>офис</strong></h4>
                        <ul class="list list-icons list-icons-style-2 mt-2">
                            <li><i class="fas fa-map-marker-alt top-6"></i> <strong class="text-dark">Адрес:</strong> {{main.adress}}</li>
                            <li><i class="fas fa-phone top-6"></i> <strong class="text-dark">Телефон:</strong> <a href="tel:+{{main.phone_html}}"> {{main.phone}}</a></li>
                            <li><i class="fas fa-envelope top-6"></i> <strong class="text-dark">Email:</strong> <a href="mailto:{{main.email_sales}}"> {{main.email_sales}}</a></li>
                        </ul>
                    </div>

                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="95">
                        <h4 class="pt-5">Часы <strong>работы</strong></h4>
                        <ul class="list list-icons list-dark mt-2">
                            <li><i class="far fa-clock top-6"></i> Понедельник - пятница: с 9 до 18</li>
                            <li><i class="far fa-clock top-6"></i> Суббота - воскресенье: выходной</li>
                        </ul>
                    </div>

                    <h4 class="pt-5">Мы <strong>на связи</strong></h4>
                    <p class="lead mb-0 text-4">Мы знаем, насколько важно бывает полное понимание процесса интеграции, эксплуатации, обслуживания и поддержки высокотехнологичных устройств.  
                        По вопросам продажи, поддержки ассортимента представленного на сайте, обращайтесь по адресу электронной почты или заполните приведенную форму.</p>
                    
                    <hr class="dashed tall">

                </div>

            </div>

        </div>

        <!-- Map Yandex Google Maps - Go to the bottom of the page to change settings and map location. -->
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab41169da2673d51b788ed4b6012d88a73c9dcdced25f6cb8def6123fac36b7fd&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
        <!-- {% comment %} <div id="googlemaps" class="google-map mt-0" style="height: 500px;"></div> {% endcomment %} -->

    </div>

</div>

{% endblock content %}