{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}


<div role="main" class="main">

    <div role="main" class="main">

        <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <h1 class="text-dark font-weight-bold text-8">Ответы на вопросы</h1>
                        <span class="sub-title text-dark">Вы спрашивали, мы ответили</span>
                    </div>
                    <div class="col-md-12 align-self-center order-1">
                        <ul class="breadcrumb d-block text-center">
                            <li><a href="{% url 'index' %}">Главная</a></li>
                            <li class="active">FAQ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Вопросы и ответы -->
        <div class="container py-4">

            <div class="row">
                <div class="col">
                    <h2 class="font-weight-normal text-7 mb-2">Вопросы и <strong class="font-weight-extra-bold">Ответы</strong></h2>
                    <p class="lead">Собрали в одном месте популярные вопросы, которые в большом количестве поступают к нам.</p>



                    <div class="toggle toggle-primary m-0" data-plugin-toggle>
                        <section class="toggle active">
                            <a class="toggle-title">Часы работы?</a>
                            <div class="toggle-content">
                                <p>
                                    Вы можете найти часы работы в разделе "Контакты" или внизу страницы.
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Проблема возникла в нерабочее время?</a>
                            <div class="toggle-content">
                                <p>
                                    Просто заполните форму обратной связи на нашем сайте и специалисты нашей компании ответят Вам при первой возможности. 
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Необходимо сделать заказ?</a>
                            <div class="toggle-content">
                                <p>
                                    Пожалуйста, свяжитесь с нами любым из удобных способов, в разделе "Контакты" есть вся необходимая информация.
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Вас интересуют специальные условия или скидка на товар?</a>
                            <div class="toggle-content">
                                <p>
                                    Мы ценим наших клиентов, просто позвоните и мы с удовольствием обсудим этот вопрос. Для постоянных клиентов, мы предлагаем: <br/>
                                    - гибкую систему скидок; <br/>
                                    - специальные условия оплаты.
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Возникли проблемы при эксплуатации товара?</a>
                            <div class="toggle-content">
                                <p>
                                    По нашей статистике до 80% обращений могут быть разрешены путем удаленной консультации. Свяжитесь с нами любым удобным для Вас способом. 
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Нужно отправить нам товар на обслуживание или диагностику?</a>
                            <div class="toggle-content">
                                <p>
                                    Вы можете организовать доставку самостоятельно или с помощью транспортной компании. Перед отправкой свяжитесь с нами для получения информации по составу сопроводительной документации.
                                </p>
                            </div>
                        </section>

                    </div>

                </div>

            </div>

        </div>

        <!-- Области применения -->
        <div class="container py-4">

            <div class="row">
                <div class="col">

                    <h2 class="font-weight-normal text-7 mb-2">Области <strong class="font-weight-extra-bold">Применения</strong></h2>
                    <p class="lead">Где используются наши сенсоры? Перечень возможных вариантов использования варьируется от беспилотных автомобилей до картографии и геодезии. И это далеко не полный перечень.</p>

                    <div class="toggle toggle-primary m-0" data-plugin-toggle>
                        <section class="toggle active">
                            <a class="toggle-title">Продвинутые системы помощи водителю (ADAS)</a>
                            <div class="toggle-content">
                                <p>
                                    Технология технического зрения позволяет создавать продвинутые системы высокого уровня помощи водителю (ADAS), обеспечивающие безопасность движения, автоматическое экстренное торможение для предотвращения столкновений, контроль удержания полосы движения, мониторинг слепых зон, адаптивный круиз-контроль и многое другое.
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Беспилотный транспорт</a>
                            <div class="toggle-content">
                                <p>
                                    Лазерные сканеры (лидары), радары и камеры, работающие в различных спектральных диапазонах, это основные сенсоры, на базе которых создаются системы автономного вождения для пассажирского и грузового транспорта. 
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Транспортная инфраструктура (V2X)</a>
                            <div class="toggle-content">
                                <p>Техническое зрение один из основных источников получения информации для интеллектуальных систем управления городской средой. Контроль транспорта, маршруты передвижения пешеходов, распознавание и классификация объектов, контроль перемещения в закрытых зонах и многие другие задачи не могут быть решены без современных датчиков и сенсоров. Проекты по созданию "умных городов" в итоге повышают качество общественных услуг, безопасность и комфорт проживания в большом городе.</p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Автономные грузовые перевозки</a>
                            <div class="toggle-content">
                                <p>Беспилотный транспорт открывает безграничные возможности повышения эффективности, безопасности и скорости грузовых перевозок. Лидары и радары работают в любое время суток, обеспечивают полный обзор вокруг транспортного средства, позволяют быстро распознать любые помехи при движении и маневрировании.</p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Эффективное решение проблемы «последней мили»</a>
                            <div class="toggle-content">
                                <p>Автоматический беспилотный транспорт позволяет существенно автоматизировать процессы доставки грузов и товаров конечному пользователю/покупателю.
                                    Следствием этого являются минимизация затрат, обеспечение прозрачности, повышение эффективности и улучшение инфраструктуры доставки.
                                    </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Безопасность нового поколения</a>
                            <div class="toggle-content">
                                <p>Системы охраны периметра, контроля посещения закрытых зон, противодействия несанкционированному доступу беспилотных воздушных судов становятся значительно быстрее и эффективнее при использовании лазерных сканеров (лидаров).</p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Робототехника и промышленные роботы</a>
                            <div class="toggle-content">
                                <p>Сенсоры являются важными компонентами для навигации роботов, позволяют им работать без вмешательства человека внутри и вне помещений. Роботы могут применяться для общественной безопасности, обследования объектов, доставки, уборки и других задач. Данные трехмерного изображения, генерируемые лазерными датчиками, оптимальны для промышленных роботов, требующих точных измерений при выполнении манипуляций, отслеживании окружающих объектов в движении. Благодаря компактному размеру сенсоры могут быть встроены в уже имеющиеся роботизированные системы для обеспечения бесперебойной работы технологической цепочки.</p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Дрон / Беспилотный летательный аппарат (БПЛА)</a>
                            <div class="toggle-content">
                                <p>Интеграция лидара в беспилотник, позволила создать новое поколение устройств для сбора геопространственных данных. Картографическая продукция становится более полной, точной и актуальной. Там где ранее для выполнения работ требовалась многодневная работа бригады геодезистов, современное беспилотное воздушное судно, оборудованное лидаров, создаст полный цифровой двойник местности за считанные минуты.</p>
                            </div>
                        </section>

                    </div>

                </div>

            </div>

        </div>

    </div>





</div>

{% endblock content %}