{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}


<div role="main" class="main">

    <div role="main" class="main">

        <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <h1 class="text-dark font-weight-bold text-8">Ответы на вопросы</h1>
                        <span class="sub-title text-dark">Вы не спрашивали, но мы ответили</span>
                    </div>
                    <div class="col-md-12 align-self-center order-1">
                        <ul class="breadcrumb d-block text-center">
                            <li><a href="{% url 'index' %}">Главная</a></li>
                            <li class="active">FAQ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Вопросы и ответы -->
        <div class="container py-4">

            <div class="row">
                <div class="col">

                    <h2 class="font-weight-normal text-7 mb-2">Вопросы и <strong class="font-weight-extra-bold">Ответы</strong></h2>
                    <p class="lead">Собрали в одном месте популярные вопросы, которые в большом количестве поступают к нам.</p>

                    <div class="toggle toggle-primary m-0" data-plugin-toggle>
                        <section class="toggle active">
                            <a class="toggle-title">Часы работы?</a>
                            <div class="toggle-content">
                                <p>
                                    Вы можете найти часы работы в разделе "Контакты" или внизу страницы.
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Если необходима консультация в нерабочее время?</a>
                            <div class="toggle-content">
                                <p>
                                    Вы можете получить качественную консультацию практически в любое время суток, кроме телефонной консультации. Для этого Вам необходимо заполнить форму обратной связи на нашем сайте. 
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Необходимо сделать заказ?</a>
                            <div class="toggle-content">
                                <p>
                                    Пожалуйста, свяжитесь с нами любым из удобных способов, в разделе "Контакты" есть вся необходимая информация.
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Вас интересуют специальные условия или скидка на товар?</a>
                            <div class="toggle-content">
                                <p>
                                    Мы ценим наших клиентов, просто позвоните и мы с удовольствием обсудим этот вопрос. Для постоянных клиентов, мы предлагаем: <br/>
                                    - гибкую систему скидок; <br/>
                                    - специальные условия оплаты.
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Возникли проблемы при эксплуатации товара?</a>
                            <div class="toggle-content">
                                <p>
                                    По нашей статистике до 80% обращений могут быть разрешены в ходе диалога. Воспользуйтесь консультацией, обратившись в «Центр поддержки клиентов АГМ Трейд» удобным для вас способом. 
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Нужно доставить товар в «Центр поддержки клиентов АГМ Трейд»?</a>
                            <div class="toggle-content">
                                <p>
                                    Вы можете передать товар самостоятельно или с помощью транспортной компании. Отправте заявку на электронную почту, если необходима помощь в организации доставки Вашего товара. 
                                    К товару необходимо приложить письмо с рекомендуемым содержанием: комплектация, описание дефекта (в произвольной форме), контакты (название компании, ФИО отправителя, мобильный телефон, адрес электронной почты). Желательно приложить реквизиты организации.
                                </p>
                            </div>
                        </section>

                    </div>

                </div>

            </div>

        </div>

        <!-- Области применения -->
        <div class="container py-4">

            <div class="row">
                <div class="col">

                    <h2 class="font-weight-normal text-7 mb-2">Области <strong class="font-weight-extra-bold">Применения</strong></h2>
                    <p class="lead">Для чего нужен лидар? Он может быть <a href="#">полезен</a> для широкого круга областей. Применения сенсоров затрагивает многие сферы жизни и помогает отраслям эффективнее осуществлять их деятельность.</p>

                    <div class="toggle toggle-primary m-0" data-plugin-toggle>
                        <section class="toggle active">
                            <a class="toggle-title">Продвинутые системы помощи водителю (ADAS)</a>
                            <div class="toggle-content">
                                <p>
                                    Технология технического зрения позволяет создавать усовершенствованные системы высокого уровня помощи водителю (ADAS) для безопасного движения, которые включают в себя автоматическое экстренное торможение для предотвращения столкновения, ассистент удержания полосы движения,  мониторинг слепых зон, адаптивный круиз-контроль и многое другое.
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Беспилотный транспорт</a>
                            <div class="toggle-content">
                                <p>
                                    Массовое применние лидаров направлено на техническое зрение по восприятию окружающего пространства в реальном времени, для повышения безопасности при управлении автономным автомобилем (уровнь 4 и 5) на скоростных трассах. 
                                </p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Транспортная инфраструктура (V2X)</a>
                            <div class="toggle-content">
                                <p>Техническое зрение это инструмент воплощения реальность «умных городов», для повышения социального и общественной безопасности людей. В реализации участвуют различные датчики фиксирования и мониторинга транспортной системы города, в том числе безопасность пешеходов, планирование транспорта, управление дорожным движением и парковочными местами и многое другое. Проекты по созданию "умных городов" нацелены на улучшение общественных услуг, повышение безопасности и комфорта проживания в городе.</p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Автономные грузовые перевозки</a>
                            <div class="toggle-content">
                                <p>Технология машинного зрения обеспечивает многочисленные преимущества особенно в плане экономичности и безопасности для грузовых перевозок. Лидар предоставляет трехмерную информацию высокого разрешения в реальном времени, необходимую для поддержания безопасного управления грузовиком. Сенсорная система беспилотника, обеспечивает интеграторам и компаниям по управлению автопарками производительность, надежность и масштабируемость, которые являются необходимыми компонентами для улучшения навигации и повышения безопасности транспортных средств.</p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Сервисы по доставке «сердечней мили» или «последней мили»</a>
                            <div class="toggle-content">
                                <p>Независимо от числа сенсоров в системе технического зрения ее применение в роботах доставщиках для транспортировки грузов «последней мили» или в беспилотных авто для доставки грузов «средней мили», или в грузовиках с ADAS на магистральных перевозках, обеспечивает безопасное и эффективное перемещение грузов.</p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Безопасность нового поколения</a>
                            <div class="toggle-content">
                                <p>Машинное зрение, является прорывом в области охраны и безопасности, позволяет пользователям определять и контролировать настраиваемые цифровые границы, получать данные с высокой точностью при самых разных условиях освещенности для сверхнадежного обнаружения и отслеживания объектов. Решения по обеспечению безопасности на основе машинного зрения повышают скорость реакции на угрозы и снижают количество ложных срабатываний, например при обеспечении безопасности в аэропорту, в общественных местах, физической безопасности сложных технических устройств или сооружений.</p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Робототехника и промышленные роботы</a>
                            <div class="toggle-content">
                                <p>Сенсоры являются важными компонентами для навигации роботов, позволяют им работать, без вмешательства человека внутри и вне помещений. Роботы могут применяться для общественной безопасности, обследования объектов, доставки, уборки.
                                    Данные трехмерного изображения, генерируемые датчиками, оптимальны для промышленных роботов, требующих точных измерений при выполнении манипуляций или отслеживания окружающих объектов в движении. Благодаря компактному размеру сенсоры могут быть встроены в уже имеющиеся роботизированные системы для обеспечения бесперебойной работы технологической цепочки.</p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Дрон / Беспилотный летательный аппарат (БПЛА)</a>
                            <div class="toggle-content">
                                <p>Простая интеграция лидара в беспилотник, обеспечивает лидирующие позиции технологии lidar в воздухе для сбора геопространственных данных (3D сканирования). Лидар позволяет пользователям создавать 3D-модели объектов (цифровые двойники) при лазерном сканировании, обследование объектов и мониторинге в режиме реального времени.</p>
                            </div>
                        </section>

                        <section class="toggle">
                            <a class="toggle-title">Картография (лазерное сканирование)</a>
                            <div class="toggle-content">
                                <p>Лазерный дальномер (lidar), как основной компонент системы дистанционного зондирования, позволяет оператору быстро и легко производить высокоточное 3D сканирование любой местности и получать объемное изображение высокого разрешения. Применяя данные для дальнейших точных исследований и анализа параметров ситуации, необходимых при создания картматериалов или геоинформационных систем, которые могут быть сконфигурированы в соответствии с потребностями конечного пользователя.</p>
                            </div>
                        </section>
                    </div>

                </div>

            </div>

        </div>

    </div>





</div>

{% endblock content %}