{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}


<div role="main" class="main">
    <div role="main" class="main shop py-4">
        <div class="container">

            <div class="row">

                <!-- Продукт -->
                <div class="col-lg-9">

                    <!-- Продукт -->
                    <div class="row">

                        <!-- изображение продукта -->
                        <div class="col-lg-6">
                            <img alt="" class="img-fluid" src="/media/{{product.img_product}}">
                        </div>

                        <!-- информация о продукте -->
                        <div class="col-lg-6">

                            <div class="summary entry-summary position-relative">

                                <h1 class="mb-0 font-weight-bold text-7">{{product.name}}</h1>

                                <div class="divider divider-small">
                                    <hr class="bg-color-grey-scale-4">
                                </div>

                                
                                <p class="price mb-3">
                                    {% if product.price != 0 %}
                                    <!-- <span class="sale text-color-dark">$15,00</span> -->
                                    <span class="amount">₽ {{product.price}}</span>
                                    {% endif %}
                                </p>


                                <p class="text-3-5 mb-3">{{product.description_short}}</p>

                                <ul class="list list-unstyled text-2">
                                    <li class="mb-0">Артикул:   <strong class="text-color-dark">{{product.code}}</strong></li>
                                    <li class="mb-0">Бренд:
                                        {% for brand in brands_per_product %}
                                        <a href="{% url 'brandpage' brand.url_dop %}"><strong class="text-color-dark">{{brand.name}}</strong></a>
                                        {% endfor %}
                                    </li> 
                                </ul>


                            </div>

                        </div>
                    </div>

                    <!-- Табы -->
                    <div class="row">
                        <div class="col">

                            <div id="description" class="tabs tabs-simple tabs-simple-full-width-line tabs-product tabs-dark mb-2">

                                <ul class="nav nav-tabs justify-content-start">
                                    <li class="nav-item"><a class="nav-link active font-weight-bold text-3 text-uppercase py-2 px-3" href="#productDescription" data-bs-toggle="tab">Описание</a></li>
                                    <li class="nav-item"><a class="nav-link font-weight-bold text-3 text-uppercase py-2 px-3" href="#productInfo" data-bs-toggle="tab">Характеристики</a></li>
                                    <li class="nav-item"><a class="nav-link nav-link-reviews font-weight-bold text-3 text-uppercase py-2 px-3" href="#productDownloads" data-bs-toggle="tab">Скачать материалы</a></li>
                                </ul>

                                <div class="tab-content p-0">
                                    <div class="tab-pane px-0 py-3 active" id="productDescription">
                                        <p>{{product.description_full|safe}}</p>
                                    </div>
                                    <div class="tab-pane px-0 py-3" id="productInfo">
                                        <table class="table table-striped m-0">
                                            <tbody>

                                                {% for a in product.specifications %}
                                                    <tr>
                                                        <th>{{a.0}}:</th>
                                                        <td>{{a.1}}</td>
                                                    </tr>
                                                {% endfor %}

                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane px-0 py-3" id="productDownloads">



                                        <div id="examples" class="container py-2">

                                            <div class="row">
                                                <div class="col">
                        
                                                    <div class="row">
                                                        <div class="col pb-3">
                        
                                                            <h4>Брошюры и презентации</h4>
                        
                                                            <table class="table">

                                                                <tbody>

                                                                    {% for pt in presentations_per_product %}
                                                                    
                                                                    <tr>
                                                                        <td>
                                                                            {{pt.name}}
                                                                        </td>
                                                                        <td>
                                                                            <a href="/media/{{pt.presentation}}" class="text-color-dark" download>
                                                                                {{pt.alternative_name}}
                                                                            </a>
                                                                        </td>

                                                                    </tr>
                                                                    {% endfor %}

                                                                </tbody>
                                                            </table>                                                       
                        
                                                        </div>
                                                    </div>
                        
                                                </div>
                                            </div>
                        
                                        </div>


                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="solid my-5">

                </div>

                <!-- Категории -->
                <div class="col-lg-3">
                    <aside class="sidebar">
                        <h5 class="font-weight-semi-bold pt-3">Категории</h5>

                        <div class="px-3 mt-4">
                            <ul class="nav nav-list flex-column mt-2 mb-0 p-relative right-9">
                                {% for each in categories_all %}
                                    <li class="nav-item"><a class="category-elements-js nav-link bg-transparent border-0 {{each.class}}" href="{% url 'catalog'%}?type={{each.html_class_name}}">{{each.name}}</a></li>
                                {% endfor %}
                                <!-- <li class="nav-item"><a class="nav-link bg-transparent border-0 active" href="#">Радары</a></li> -->
                            </ul>
                        </div>

                    </aside>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock content %}