{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}


<div role="main" class="main">

    <div role="main" class="main shop py-4">

        <div class="container">

            <div class="row">
                <div class="col-lg-9">

                    <div class="row">
                        <div class="col-lg-6">
                            <img alt="" class="img-fluid" src="{% static 'mainapp/images/product-grey-7.jpg' %}">
                        </div>

                        <div class="col-lg-6">

                            <div class="summary entry-summary position-relative">

                                <h1 class="mb-0 font-weight-bold text-7">Porto Headphone</h1>

                                <div class="divider divider-small">
                                    <hr class="bg-color-grey-scale-4">
                                </div>

                                <p class="price mb-3">
                                    <!-- <span class="sale text-color-dark">$15,00</span> -->
                                    <span class="amount">$22,00</span>
                                </p>

                                <p class="text-3-5 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Lorem ipsum dolor sit amet.</p>

                                <ul class="list list-unstyled text-2">
                                    <li class="mb-0">Артикул:   <strong class="text-color-dark">1234567890</strong></li>
                                    <li class="mb-0">Бренд:     <a href="{% url 'brandpage' %}"><strong class="text-color-dark">AGM</strong></li></a> 
                                </ul>


                                <div class="d-flex align-items-center">
                                    <ul class="social-icons social-icons-medium social-icons-clean-with-border social-icons-clean-with-border-border-grey social-icons-clean-with-border-icon-dark me-3 mb-0">
                                        <!-- Facebook -->
                                        <li class="social-icons-facebook">
                                            <a href="http://www.facebook.com/sharer.php?u=https://www.okler.net" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share On Facebook">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <!-- Google+ -->
                                        <li class="social-icons-googleplus">
                                            <a href="https://plus.google.com/share?url=https://www.okler.net" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share On Google+">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                        <!-- Twitter -->
                                        <li class="social-icons-twitter">
                                            <a href="https://twitter.com/share?url=https://www.okler.net&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share On Twitter">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <!-- Email -->
                                        <li class="social-icons-email">
                                            <a href="mailto:?Subject=Share This Page&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://www.okler.net" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share By Email">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div id="description" class="tabs tabs-simple tabs-simple-full-width-line tabs-product tabs-dark mb-2">
                                <ul class="nav nav-tabs justify-content-start">
                                    <li class="nav-item"><a class="nav-link active font-weight-bold text-3 text-uppercase py-2 px-3" href="#productDescription" data-bs-toggle="tab">Description</a></li>
                                    <li class="nav-item"><a class="nav-link font-weight-bold text-3 text-uppercase py-2 px-3" href="#productInfo" data-bs-toggle="tab">Additional Information</a></li>
                                    <li class="nav-item"><a class="nav-link nav-link-reviews font-weight-bold text-3 text-uppercase py-2 px-3" href="#productReviews" data-bs-toggle="tab">Скачать материалы</a></li>
                                </ul>
                                <div class="tab-content p-0">
                                    <div class="tab-pane px-0 py-3 active" id="productDescription">
                                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis, massa fringilla consequat blandit, mauris ligula porta nisi, non tristique enim sapien vel nisl. Suspendisse vestibulum lobortis dapibus. </p>
                                        <p class="m-0">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis, massa fringilla consequat blandit, mauris ligula porta nisi, non tristique enim sapien vel nisl. Suspendisse vestibulum lobortis dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                                    </div>
                                    <div class="tab-pane px-0 py-3" id="productInfo">
                                        <table class="table table-striped m-0">
                                            <tbody>
                                                <tr>
                                                    <th class="border-top-0">
                                                        Size:
                                                    </th>
                                                    <td class="border-top-0">
                                                        Unique
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Colors
                                                    </th>
                                                    <td>
                                                        Red, Blue
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Material
                                                    </th>
                                                    <td>
                                                        100% Leather
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane px-0 py-3" id="productReviews">
                                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis, massa fringilla consequat blandit, mauris ligula porta nisi, non tristique enim sapien vel nisl. Suspendisse vestibulum lobortis dapibus. </p>
                                        <p class="m-0">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis, massa fringilla consequat blandit, mauris ligula porta nisi, non tristique enim sapien vel nisl. Suspendisse vestibulum lobortis dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="solid my-5">


                </div>
                <div class="col-lg-3">
                    <aside class="sidebar">
                        <h5 class="font-weight-semi-bold pt-3">Categories</h5>

                        <div class="px-3 mt-4">
                            <ul class="nav nav-list flex-column mt-2 mb-0 p-relative right-9">
                                <li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Лазерные сканеры</a></li>
                                <li class="nav-item"><a class="nav-link bg-transparent border-0 active" href="#">Радары</a></li>
                                <li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">GNSS</a></li>
                                <li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Беспилотники</a></li>
                                <li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Софт</a></li>
                            </ul>
                        </div>

                    </aside>
                </div>
            </div>
        </div>

    </div>


</div>

{% endblock content %}