@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa Light'), local('Comfortaa-Light'), url('comfortaalight.woff2') format('woff2'), url('comfortaalight.woff') format('woff'), url('comfortaalight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url('comfortaa.woff2') format('woff2'), url('comfortaa.woff') format('woff'), url('comfortaa.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url('comfortaabold.woff2') format('woff2'), url('comfortaabold.woff') format('woff'), url('comfortaabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


/*@font-face {
/*	font-family: "Comfortaa";
/*	src: 
/*		url("../fonts/comfortaa.eot"); /* IE9 Compat Modes */
/*	src: 
/*		url("../fonts/comfortaa.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
/*		url("../fonts/comfortaa.otf") format("opentype"), /* Open Type Font */
/*		url("../fonts/comfortaa.svg") format("svg"), /* Legacy iOS */
/*		url("../fonts/comfortaa.ttf") format("truetype"), /* Safari, Android, iOS */
/*		url("../fonts/comfortaa.woff") format("woff"), /* Modern Browsers */
/*		url("../fonts/comfortaa.woff2") format("woff2"); /* Modern Browsers */
/*	font-weight: normal;
/*	font-style: normal;
/*}